# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Spark / Hadoop (Importante para tu TP) ---
spark-warehouse/
metastore_db/
derby.log
*.lzo
*.crc

# --- Datos y Archivos Grandes ---
# Si el CSV es muy pesado o generas archivos temporales
*.csv
*.json
!bbc-news-data.csv  # (Esto hace que este CSV puntual SI se suba)

# --- Sistema ---
.DS_Store
Thumbs.db
